[submodule "monitoring-experiment"]
	path = monitoring-experiment
	url = https://github.com/longavailable/donglongroad-hydro-monitoring-experiment
[submodule "kunshan-rainfall"]
	path = kunshan-rainfall
	url = https://github.com/longavailable/kunshan-rainfall
[submodule "hydrodata"]
	path = hydrodata
	url = https://github.com/longavailable/donglongroad-hydrodata
